---
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import Card from "../components/PlotFigure.astro";
import penguins from "../assets/datasets/penguins.json";
---

<Layout>
  <h1>R312 TP1</h1>
  <h2>
    Diagramme de points représentant la longueur et la profondeur des becs des
    penguins dans une population donnée
  </h2>
  <Card
    options={{
      marks: [
        Plot.dot(penguins, { x: "culmen_length_mm", y: "culmen_depth_mm" }),
      ],
    }}
  />
</Layout>
