---
const {title} = Astro.props
---
<html lang="fr">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
</html>

<body>
    <h1>{title}</h1>
    <slot />
</body>